@media all and (max-width: 768px) {

    .main-movie-poster {
        display: none;
    }

    .main-movie-trailer iframe {
        width: 100%;
        height: 100%;
    }
}


@media screen and (max-width: 414px) {
    .main-movie ul li {
        padding: 0px;
    }

    .main-movie ul {
        width: 100%;
    }

    .movie-list {
        flex-direction: column;
        align-items: center;
    }

    .movies {
        margin: 100px 0 100px 0;
    }
}