@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url("https://use.fontawesome.com/releases/v6.0.0/css/all.css");

body {
    font-family: 'Poppins', sans-serif;
    background-image: url("../image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 17%;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

main {
    position: relative;
    z-index: 1;
}

.login-header h1 {
    color: white;
    font-size: 36px;
    text-align: center;
    padding: 26px 0px;
    text-transform: uppercase;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-form-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    scale: 1.1;
}

.login-form-field input {
    font-size: 24px;
}

.login-form-field i {
    font-size: 20px;
    color: gray;
    padding: 0px 40px;
}

.login-form-fields button {
    padding: 16px 65px;
    border-radius: 24px;
    background-color: #D41872;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0px;
}

.login-form-field {
    margin-top: 36px;
    border-bottom: 1px solid gray;
    opacity: 0.4;
}