@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 24px;
}

.wrapper {
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper > h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 12px;
}

.wrapper > h1 > span {
    color: #327DC4;
}

.wrapper > p {
    font-size: 22px;
    text-align: center;
    margin-bottom: 24px;
}

.service-items {
    display: flex;
    justify-content: space-between;
}

.service-item {
    width: 31%;
    background-color: #819DAF;
    border-radius: 24px;
}

.service-item-wrapper {
    margin: 36px 18px 24px 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.service-item-header {
    font-weight: bold;
    font-size: 26px;
}

.service-item-text {
    font-size: 20px;
    line-height: 1.8rem;
}

.service-item-btn {
    background-color: #327DC4;
    color: white;
    border-radius: 24px;
    padding: 12px 36px;
    border: 1px solid darkblue;
}

.service-item-btn-wrapper {
    border: 1px solid white;
    border-radius: 24px;
}