@media screen and (max-width: 600px) {
    .thumbnails {
        flex-direction: column;
        align-items: center;
    }

    .thumbnails > div {
        width: 100%;
        margin-bottom: 36px;
    }

    .thumbnails a img {
        height: 300px;
    }
}